* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  grid-area: header;
  color: white;
  padding: 10px;
  font-family: 'Gill Sans';
  font-size: 200%;
  text-align: center;
  background-image: url('./bridge.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main {
  grid-area: main;
  color: #2d2f77;
  padding: 10px;
  text-align: center;
}

nav {
  grid-area: nav;
  background-color: #2d2f77;
  color: white;
  padding: 10px;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li {
  padding: 10px;
}

footer {
  color: #2d2f77;
  text-align: center;
}

img {
  width: 25%;
}

.container {
  display: grid;
  grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
}

@media (min-width: 700px) {
  .container {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header header"
      "nav main"
      "nav footer";
  }
  nav ul {
    display: flex;
    flex-direction: column;
  }
}